:root {
  --primary: #22c55e;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;

  --fs-sm: 12px;
  --fs-base: 15px;
  --fs-md: 16px;

  --fw-medium: 500;
  --fw-semibold: 600;

  --btn-height: 46px;
  --btn-padding-x: 22px;
  --btn-icon-size: 18px;

  --btn-shadow: 0 6px 14px rgba(34, 197, 94, 0.25);
  --transition: all 0.3s ease;
}

.hero {
  padding: 20px 0;
}

.main-title {
  font-size: 60px;
  line-height: 1.05;
  font-family: "Questrial", sans-serif;
}

.main-title.text-muted {
  font-size: 55px;
  color: var(--text-secondary);
  font-weight: 600;
}

.main-sub {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  padding: 6px 18px;
  border-radius: 50px;
  width: fit-content;
}

.hero-desc {
  font-size: var(--fs-md);
  color: var(--text-secondary);
  line-height: 1.7;
  max-width: 520px;
}

.contact-btn {
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: #fff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 60px;
  box-shadow: var(--btn-shadow);
  transition: var(--transition);
}

.contact-btn:hover {
  transform: translateY(-2px);
}

.hero-link {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: var(--primary);
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: var(--transition);
  text-decoration: none;
}

.hero-link:hover i {
  transform: translateX(4px);
}

.hero-img {
  border-radius: 20px;
  max-height: 480px;
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.explore {
  margin-top: 50px;
}

.explore h4 {
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
}

.icon-circle {
  width:fit-content;
  height: 40px;
  border-radius: 14px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;    
  justify-content: center;
  gap: 6px;
  text-align: center; 
}



.icon-circle i {
  font-size: 20px;
  color: var(--primary);
}

.icon-circle h6 {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .main-title {
    font-size: 36px;
    line-height: 1.2;
  }

  .main-title.text-muted {
    font-size: 32px;
  }
  .hero {
  padding: 10px 10px;
}
}
