::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

/* ===================== */
/* DESIGN SYSTEM */
/* ===================== */
:root {
  --primary: #22c55e;
  --text-main: #111827;
  --text-secondary: #464950;
  --text-muted: #6b7280;
  --border-color: #e5e7eb;

  --font-base: "Onest", system-ui, sans-serif;

  --fs-sm: 13px;
  --fs-base: 14px;
  --fs-md: 16px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  --radius-md: 12px;
  --transition: 0.3s ease;
}

/* ===================== */
/* BASE */
/* ===================== */
* {
  font-family: var(--font-base);
}

body {
  color: var(--text-main);
}

a {
  text-decoration: none;
}

/* ===================== */
/* HEADER */
/* ===================== */
.logo {
  width: 200px;
}

.nav-link {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: var(--text-secondary);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--primary);
}

.announcement {
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: #bbbbbb;
}

.search-box{
  width:260px;
}

.search-box .input-group-text {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  color: #6b7280;
}

.search-box .form-control {
  border: 1px solid #e5e7eb;
  font-size: 14px;
  box-shadow: none;
}

.search-box .form-control:focus {
  border-color: #22c55e;
  box-shadow: 0 0 0 0.15rem rgba(34, 197, 94, 0.25);
}


.main-title {
  font-size: 60px;
}

/* ===================== */
/* EVENTS */
/* ===================== */
.event-text {
  font-size: var(--fs-base);
  color: var(--text-secondary);
  font-weight: var(--fw-medium);
  line-height: 1.6;
}

.research {
  background-color: var(--primary);
  height: 400px;
}

/* ===================== */
/* FOOTER */
/* ===================== */
.footer-main h5 {
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  margin-bottom: 12px;
}

.footer-links li {
  font-size: var(--fs-base);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 0;
  transition: var(--transition);
  font-weight: var(--fw-medium);
}

.footer-links li i {
  color: var(--primary);
}

.footer-links li:hover {
  color: var(--primary);
  transform: translateX(6px);
}

.footer-contact li {
  font-size: var(--fs-base);
  color: var(--text-secondary);
  font-weight: var(--fw-medium);
  display: flex;
  gap: 8px;
  padding: 4px 0;
}

.footer-contact i {
  color: var(--primary);
}

.footer-bottom {
  border-top: 1px solid var(--border-color);
}

.footer-bottom h6 {
  font-size: var(--fs-sm);
  color: var(--text-muted);
}

.social-icon {
  width: 36px;
  height: 36px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  transition: var(--transition);
  cursor: pointer;
}

.social-icon:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: #fff;
}
